<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>fields</th>
      <th>offset</th>
      <th>width</th>
      <th>value</th>
      <th>doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RIDTAG</td>
      <td>16</td>
      <td>16</td>
      <td>0xdeca0420</td>
      <td>Register Identification Tag, always this constant value</td>
    </tr>
    <tr>
      <td>MODEL</td>
      <td>8</td>
      <td>8</td>
      <td>0xdeca0420</td>
      <td>Family (0x03 = DW3x00, 0x04 Pegasus)</td>
    </tr>
    <tr>
      <td>VER</td>
      <td>4</td>
      <td>4</td>
      <td>0xdeca0420</td>
      <td>Version (Pegasus A0 = 0x1, Pegasus B0 = 0x2)</td>
    </tr>
    <tr>
      <td>REV</td>
      <td>0</td>
      <td>4</td>
      <td>0xdeca0420</td>
      <td>Revision, updated for minor corrections and changes in operation (A0 = 0x0, B0 = 0x0)</td>
    </tr>
  </tbody>
</table>
<br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>fields</th>
      <th>offset</th>
      <th>width</th>
      <th>value</th>
      <th>doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RIDTAG</td>
      <td>16</td>
      <td>16</td>
      <td>0xdeca0420</td>
      <td>Register Identification Tag, always this constant value</td>
    </tr>
    <tr>
      <td>MODEL</td>
      <td>8</td>
      <td>8</td>
      <td>0xdeca0420</td>
      <td>Family (0x03 = DW3x00, 0x04 Pegasus)</td>
    </tr>
    <tr>
      <td>VER</td>
      <td>4</td>
      <td>4</td>
      <td>0xdeca0420</td>
      <td>Version (Pegasus A0 = 0x1, Pegasus B0 = 0x2)</td>
    </tr>
    <tr>
      <td>REV</td>
      <td>0</td>
      <td>4</td>
      <td>0xdeca0420</td>
      <td>Revision, updated for minor corrections and changes in operation (A0 = 0x0, B0 = 0x0)</td>
    </tr>
  </tbody>
</table>